:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(56, 55, 55);
}

header {
  padding: 1.5rem 0rem;
}

h1 {
  text-align: center;
  color: antiquewhite;
}

main {
  inset: auto;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
}
